<html>
    <head>
        <title>Naookie Sato CIS Tutoring</title>
    <link href="{{ url_for('static', filename='ugly.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet">
    

    </head>

    <body class="black">
        <!-- <img src="dsudo.jpg"/> -->
        <h1>Naookie Sato CIS Tutoring</h1>
        <a href="http://www.stilldrinking.org/programming-sucks">Why this page isnt completed...yet</a>

        <table border="1">
            <tr>
                <th colspan="6">Fall 2017 Classes</th>
            </tr>
            <tr>
                <th colspan="2">Rates</th>
                <th colspan="4">Classes</th>
            </tr>
            <tr>
                <td colspan="2">$20/hr</td>
                <td colspan="1">CIS 313</td>
                <td colspan="1">CIS 314</td>
                <td colspan="1">CIS 315</td>
                <td colspan="1">CIS 330</td>
            </tr>
        </table>

        <div>
        {% for day in days %}
            <div>
            {% for event in day %}
                <div>
                {{ event[1].strftime('%I:%M %p') }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>

        <table border="1">
            <tr>
                <th colspan="6">Fall 2017 Schedule</th>
            </tr>
            <tr>
                <th>Date/Time</th>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
            </tr>
            <tr>
                <td>8:00 am</td>
                <td >{{ m8 }}</td>
                <td >{{ t8 }}</td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>8:30 am</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>9:00 am</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>9:30 am</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>10:00 am</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>10:30 am</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>11:00 am</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>11:30 am</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>12:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>12:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>1:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>1:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>2:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>

            </tr>
            <tr>
                <td>2:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>

            </tr>
            <tr>
                <td>3:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>

            </tr>
            <tr>
                <td>3:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>4:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>4:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>5:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>5:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>6:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>6:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>7:00 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
            <tr>
                <td>7:30 pm</td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
                <td ></td>
            </tr>
        </table>
        
        <form action="../html/schedule_page.html" method="post">
            Name:<br>
            <input type="text" name="name"><br>
            Email Address:<br>
            <input type="text" name="email"><br>
            Phone Number:<br>
            <input type="text" name="phone"><br>
            <input type="submit" value="Schedule"><br>
        </form>
        <img src="../images/ballmer_peak.png" />
    </body>
</html>

