<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <title>CIS Tutoring Schedule</title>
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/ugly.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <style>
        .open-cell {
            background-color: green;
        }
        .reserved-cell {
            background-color: blue;
        }
        .closed-cell {
            background-color: red;
        }
    </style>

    </head>

    <body class="black">
    <div class="container">

      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/schedule">Home</a></li>
            <li role="presentation"><a href="/signin">Sign In</a></li>
            <li role="presentation"><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
      </div>

        <h1>CIS Tutoring Winter Schedule</h1>
        <a href="http://www.stilldrinking.org/programming-sucks">Why this page isnt completed...yet</a>

        <h2>{{week_start}} - {{week_end}}</h2>
        <table>
        <tr>
        <td>
        <form action="/week-prev" method="get"><input style="color:black;" type="submit" value="Prev Week"></form>
        </td>
        <td>
        <form action="/week-next" method="get"><input style="color:black;" type="submit" value="Next Week"></form>
        </td>
        </tr>
        </table>
        <div class="container-fluid">
        <div class="row">
        <form action="/update_schedule" method="post">
        {% for day in days %}
            <div class="col-sm-2">
            {% for event in day %}
            {% if session['user_priv'] == 0 %}
                {% if event[3] != None and event[3] != session['user_id'] %} 
                    <div class="row"> 
                    <div class="closed-cell">
                    <p>
                        <br>{{ event[1].strftime('%I:%M %p') }} - {{ event[2].strftime('%I:%M %p') }}
                    </p>
                    <select name="{{ event[0] }}">
                        <option value="">Unavailable</option>
                    </select>
                    <p><br>
                    </p>
                    </div>
                    </div>
                {% endif %}
                {% if event[3] == session['user_id'] %} 
                    <div class="row"> 
                    <div class="reserved-cell">
                    <p>
                        <br>{{ event[1].strftime('%I:%M %p') }} - {{ event[2].strftime('%I:%M %p') }}
                    </p>
                    <select name="{{ event[0] }}">
                        <option value="">Reserved</option>
                    {% if event[4] == True %}
                        <option value="unreserve">Unreserve</option>
                        <option value="unreserve_weekly">Unreserve Weekly</option>
                    {% endif %}
                    </select>
                    <p> {{ session['user_name'] }}<br>
                    </p>

                    </div>
                    </div>
                {% endif %}
                {% if event[3] == None %} 
                    <div class="row"> 
                    <div class="open-cell">
                    <p>
                        <br>{{ event[1].strftime('%I:%M %p') }} - {{ event[2].strftime('%I:%M %p') }}
                    </p>
                    <select name="{{ event[0] }}">
                        <option value="">Available</option>
                    {% if event[4] == True %}
                        <option value="reserve_once">Reserve</option>
                        <option value="reserve_weekly">Reserve Weekly</option>
                    {% endif %}
                    </select>
                    <p><br>
                    </p>
                    </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if session['user_priv'] == 1 %}
                {% if event[3] == session['user_id'] %} 
                    <div class="row"> 
                    <div class="closed-cell">
                    <p>
                        <br>{{ event[1].strftime('%I:%M %p') }} - {{ event[2].strftime('%I:%M %p') }}
                    </p>
                    <select name="{{ event[0] }}">
                        <option value="">Unavailable</option>
                        <option value="unreserve">Unreserve</option>
                        <option value="unreserve_weekly">Unreserve Weekly</option>
                    </select>
                    <p><br>
                    </p>
                    </div>
                    </div>
                {% endif %}
                {% if event[3] != None and event[3] != session['user_id'] %} 
                    <div class="row"> 
                    <div class="reserved-cell">
                    <p>
                        <br>{{ event[1].strftime('%I:%M %p') }} - {{ event[2].strftime('%I:%M %p') }}
                    </p>
                    <select name="{{ event[0] }}">
                        <option value="">Reserved</option>
                        <option value="unreserve">Unreserve</option>
                        <option value="unreserve_weekly">Unreserve Weekly</option>
                        <option value="reserve_once">Reserve</option>
                        <option value="reserve_weekly">Reserve Weekly</option>
                    </select>
                    <p> {{ names_dict[event[3]] }}<br>
                    </p>
                    </div>
                    </div>
                {% endif %}
                {% if event[3] == None %} 
                    <div class="row"> 
                    <div class="open-cell">
                    <p>
                        <br>{{ event[1].strftime('%I:%M %p') }} - {{ event[2].strftime('%I:%M %p') }}
                    </p>
                    <select name="{{ event[0] }}">
                        <option value="">Available</option>
                        <option value="reserve_once">Reserve</option>
                        <option value="reserve_weekly">Reserve Weekly</option>
                    </select>
                    <p><br>
                    </p>
                    </div>
                    </div>
                {% endif %}
            {% endif %}

            {% endfor %}
            </div>
        {% endfor %}
        <button id="btnReserve" class="btn btn-lg btn-primary btn-block" type="submit">Sumbmit Changes</button>
        </form>
        </div>
        </div>
 
      <footer class="footer">
        <p>Modifications cannot be made less than 24 hours in advance.</p>
        <p>&copy; CISTutoring</p>
      </footer>

    </div>
    </body>
</html>

