<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CIS Tutoring Schedule</title>
 
    <link href="{{ url_for('static', filename='ugly.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet">
    
  </head>
 
  <body class="black">
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/schedule">Home</a></li>
            <li role="presentation"><a href="/signin">Sign In</a></li>
            <li role="presentation"><a href="/signup">Sign Up</a></li>
          </ul>
        </nav>
      </div>
 
      <div class="jumbotron">
        <h1>CIS Tutoring Schedule: Sign In</h1>
        <form class="form-signin" action="/signup" method="post">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignIn" class="btn btn-lg btn-primary btn-block" type="button">Sign In</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; CISTutoring</p>
      </footer>
 
    </div>
  </body>
</html>
